*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
nav{
  width: 100%;
  height: 12vh;
  background-color: pink;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(228, 10, 82, 0.918);
}
a{
  color: rgba(252, 1, 84, 0.884);
  text-decoration: none;
}
ul{
  width: 50%;
  list-style: none;
  display: flex;
  justify-content:space-around;
}
img{
  padding-right: 4px
}
.home{
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 192, 203, 0.425);
  p{
    width: 40%;
    font-size: 25px;
    text-align: center;
    text-shadow: 5px 4px 6px rgb(241, 67, 125);
  }
  img{
    align-content: center;
    border: 10px solid palevioletred;
    border-radius: 20%;
  }
}
@media (max-width: 700px){
.home {
  display: block;

  p{
    width: 100%;
  padding-top: 50px;
  }
img{
  width: 80%;
  margin-left: 50px;
  margin-top: 50px;
}

  }
}
@media (min-width:701px) and (max-width:1200px){
 .home {
  display: block;

  p{
    width: 100%;
  padding-top: 50px;
  } 
  img{
  width: 80%;
  margin-left: 100px;
  margin-top: 50px;
}

  }

}




